body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  position: relative;
}

#window-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(128, 128, 128, 0.75);
  position: absolute;
}

#window-container #window-message {
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  border-radius: 25px;
}

#window-container #window-message-header {
  width: 100%;
  max-height: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 2.5em;
  border-radius: 25px 25px 0 0;
  background-color: #ccc;
  font-weight: bold;
}

#window-container #window-message-button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  text-align: center;
  font-size: 2.5em;
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 0  0 25px 25px;
  background-color: #23a0dc;
  color: white;
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgrey;
}

#message {
  min-height: 2em;
  max-width: 100%;
  margin: 20px 10px;
  padding: 5px;
  text-align: center;
  background-color: #ddd;
  border: 2px solid #aaa;
  font-size: 1.2em;
  line-height: 2em;
  border-radius: 0.5em;
}

.success {
  background-color: green !important;
  color: white;
}

.failure {
  background-color: orangered !important;
  color: white;
}

.caution {
  background-color: orange !important;
}

#buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

#reset,
#help {
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin: 5px;
  border: none;
  outline: none;
}

#word-to-find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

#word-to-find .letters-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#word-to-find .letter {
  margin: 5px;
  width: 60px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 5px solid gray;
}

@media screen and (max-width: 600px) {
  #word-to-find .letter {
    width: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    margin: 2px;
  }
}

#keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#keyboard .keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  margin: 100px auto;
}

@media screen and (max-width: 600px) {
  #keyboard .keys {
    margin: 50px auto;
    padding: 0 25px;
  }
}

#keyboard .key {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  background-color: lightgray;
  border-radius: 0.2em;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

@media screen and (max-width: 600px) {
  #keyboard .key {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1em;
    margin: 5px;
  }
}
