body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgrey;
}

#play {
  display: block;
  width: 100px;
  height: 25px;
  margin: 50px auto;
}

#word-to-find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

#word-to-find .letters-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#word-to-find .letter {
  margin: 5px;
  width: 60px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 5px solid gray;
}
