body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: lightgrey;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info #stat {
  text-align: center;
  font-size: 1.2em;
  line-height: 1.5em;
}

@media screen and (max-width: 600px) {
  .info #stat {
    font-size: 1em;
  }
}

#reset {
  display: block;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
}

#word-to-find {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

#word-to-find .letters-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#word-to-find .letter {
  margin: 5px;
  width: 60px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  border-bottom: 5px solid gray;
}

@media screen and (max-width: 600px) {
  #word-to-find .letter {
    width: 20px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    margin: 2px;
  }
}

#keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#keyboard .keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 500px;
  margin: 100px auto;
}

@media screen and (max-width: 600px) {
  #keyboard .keys {
    margin: 50px auto;
  }
}

#keyboard .key {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  background-color: lightgray;
  border-radius: 0.2em;
  -webkit-box-shadow: 2px 2px 5px black;
          box-shadow: 2px 2px 5px black;
}

@media screen and (max-width: 600px) {
  #keyboard .key {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1em;
    margin: 5px;
  }
}
