body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

.info {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    #stat {
        text-align: center;
        font-size: 1.2em;
        line-height: 1.5em;

        @media screen and (max-width: 600px) {
            font-size: 1em;
        }
    }
}

#reset {
    display: block;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: none;
    outline: none;
}

#word-to-find {

    display: flex;
    justify-content: center;
    margin-top: 50px;

    .letters-content {
        display: flex;
    }


    .letter {
        margin: 5px;
        width: 60px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        border-bottom: 5px solid gray;

        @media screen and (max-width:600px) {
            width: 20px;
            height: 30px;
            line-height: 30px;
            font-size: 1em;
            margin: 2px;
        }
    }
}

#keyboard {

    display: flex;
    justify-content: center;

    .keys {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 500px;
        margin: 100px auto;

        @media screen and (max-width: 600px) {
            margin: 50px auto;
            padding: 0 25px;
        }

    }

    .key {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin: 10px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        background-color: lightgray;
        border-radius: 0.2em;
        box-shadow: 2px 2px 5px black;

        @media screen and (max-width:600px) {
            width: 35px;
            height: 35px;
            line-height: 35px;
            font-size: 1em;
            margin: 5px;
        }
    }

    
}