body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    background-color: lightgrey;
}

#play {
    display: block;
    width: 150px;
    height: 40px;
    margin: 50px auto;
    border-radius: 10px;
    border: none;
    outline: none;
}

#word-to-find {

    display: flex;
    justify-content: center;
    margin-top: 50px;

    .letters-content {
        display: flex;
    }


    .letter {
        margin: 5px;
        width: 60px;
        height: 80px;
        line-height: 80px;
        text-align: center;
        text-transform: uppercase;
        font-size: 2em;
        font-weight: bold;
        // background-color: aqua;
        border-bottom: 5px solid gray;
    }
}

#keyboard {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    max-width: 600px;
    margin: 100px auto;

    .key {
        width: 50px;
        height: 50px;
        line-height: 50px;
        margin: 10px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        font-size: 1.5em;
        background-color: lightgray;
        border-radius: 0.2em;
        box-shadow: 2px 2px 5px black;
    }
}